.test1:before {
    display: inline-block;
    content: url("./gm.png");
}

.test2:before {
    display: inline-block;
    content: url("./images/user1.png");
}

.test3:before {
    display: inline-block;
    content: url("../images/user2.png");
}
